# Temporary files generated during runtime or builds
/tmp
/out-tsc

# Compiled output
dist/
out/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# dotenv files
.env
.env.*.local

# Playwright reports
playwright-report/
test-results/

# OS-specific files
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/

# Git
.git/

# Coverage
coverage/

# Misc
*.tgz
*.log